<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/menu.ejs") %>
   
    <p>Имя: <%=name %></p>
    <p>Фамилия: <%=pastname %></p>
    <p>Очество: <%=lastname %></p>

    <img src="https://www.meme-arsenal.com/memes/0d022955f99e4c2e3de3d0fbcc214fdb.jpg", height="200" width="200">


    <%- include("partials/footer.ejs") %>
</body>
</html>